/* font-family: 'Oranienbaum', serif; */
@font-face {
  font-family: 'WorkSans-Hairline';
  src:url('../fonts/WorkSans-Hairline.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-Thin';
  src:url('../fonts/WorkSans-Thin.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-Regular';
  src:url('../fonts/WorkSans-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-Bold';
  src:url('../fonts/WorkSans-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  src:url('../fonts/WorkSans-ExtraBold.otf') format('truetype');
}

body{
  margin: 0;
  font-family: 'WorkSans-Regular';
}
div,main,section{
  background-size: 100% 100%;
  /* border: 1px solid black; */
}
img{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
main img{
  left: auto;
  top: auto;
}
a{
  text-decoration: none;
  font-family: 'WorkSans-Regular';
}
h2{
  font-family: 'Oranienbaum', serif;
  font-size: 5.345vw;
  color: rgb(85,85,85);
}
h3{
  font-size:2.6vw ;
  font-family: 'Oranienbaum', serif;
  color: rgb(85,85,85);
  margin: 0;
}
h4{
  font-size: 7.43vw;
  font-family: 'WorkSans-Thin';
  margin: 0;
  color: rgb(244,164,163);
}
h4 span{
  font-family: 'WorkSans-Regular';
}
p{
  font-family: 'WorkSans-Regular';
  color: rgb(85,85,85);
}
button{
  font-family: 'WorkSans-Regular';
}
button:hover{
  cursor: pointer;
}

/* sticky menu */
.stickyBackgroundLayer{
  position: fixed;
  top: -1px;
  left: 0px;
  transition: 0.4s;
  width: 100%;
  height: 10.05vw;
  overflow: hidden;
  z-index: 10
}
.stickyBgInLayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.05vw;
  background-image: url('../img/stickyBG.jpg');
}
.stickyMenu{
  border-color: red;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 10.05vw;
  /* height: 40.55vw; */
  z-index: 20;
  border-bottom: 1px solid white;
}
.megaMenu{
  overflow: hidden;
  transition: 0.4s;
  position: absolute;
  bottom: -30.7vw;
  left: 0;
  width: 100vw;
  height: 30.7vw;
  background: rgb(246,226,219);
}
.mmImageFlexBox{
  display: flex;
  justify-content: space-around;
  padding-left: 4.9vw;
  padding-right: 4.9vw;
}
.mmpic{
  width: 21.94vw;
  height: 21.94vw;
  margin-top: -2vw;
  margin-left: -5.4vw;
  margin-right: -5.4vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: -1vw 0;
}
.mmPicBox{
  /* overflow: hidden; */
}
.mmPicBox p{
  margin: 0;
  margin-left:-1vw;
  margin-top: -3.2vw;
  font-size: 3.61vw;
  font-family: 'Oranienbaum', serif;
  color: rgb(86,45,96);
  text-align: center;
}
.mmPicOne{background-image: url('../img/megaMenu/nail-laquer.png');}
.mmPicTwo{background-image: url('../img/megaMenu/lips.png');}
.mmPicThree{background-image: url('../img/megaMenu/eyes.png');}
.mmPicFour{background-image: url('../img/megaMenu/face.png');}
.mmPicFive{background-image: url('../img/megaMenu/liquid-powder.png');}

.mmFreeShiping{
  color: rgb(255,80,131);
  font-weight: 600;
  margin: 0;
  margin-top: 3.2vw;
  font-size: 1.575vw;
  text-align: center;
}
.mmFreeShiping span{
  font-family: 'WorkSans-SemiBold';
}

.mmTodaysSpecial{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.151vw;
  border-top:1px solid rgb(231,195,205);
}
.mmTodaysSpecial p{
  margin: 0;
  margin-top: 1.06vw;
  color: rgb(94,60,101,0.44);
  font-weight: 900;
  font-size: 1.779vw;
  text-align: center;
}

.mmPurpleStripe{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 0.296vw;
  background-color: rgb(206,68,160);
  border-top: 1px solid rgb(220,124,181);
  border-bottom: 1px solid rgb(220,124,181);
}
.stickyMenuInside{
  background-color: rgb(52,11,76,0.9);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 20.05vw;
  z-index: 21;
}
.stickyYellowStripe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.683vw;
  background-color: rgb(255,180,122);
}

.searchIcon{
  position: absolute;
  margin-left: 9.765vw;
  margin-top: 1.7vw;
}
.searchIcon p{
  margin: 0;
  color: rgb(107,153,104);
  font-size: 2vw;
}
.searchIcon p:hover{
  cursor: pointer;
}

.BEYOUTY{
  position: absolute;
  margin-left: 50%;
  top: 1.6vw;
  left: -6vw;
  width: 11.85vw;
  height: 4.4vw;
  background-image: url('../img/png/Pro.png');
}
.BEYOUTY:hover{
  cursor: pointer;
  filter: brightness(300%);
}
.carBox{
  position: absolute;
  top: 1.95vw;
  right: 6.88vw;
}
.carBox p{
  color:rgb(255,240,0);
  text-align: center;
  margin: 0;
  margin-bottom: -0.5vw;
  font-size: 1.074vw;
}
.cart{
  background-image: url('../img/png/cart.png');
  width: 1.8vw;
  height: 1.41vw;
}
.cart:hover{
  cursor: pointer;
}
.stickyTodaysSpecial{
  z-index: 1;
  position: absolute;
  top: 6vw;
  font-family: 'WorkSans-Bold';
  margin-left: 4.8vw;
}
.stickyTodaysSpecial p{
  font-weight: 800;
  margin-bottom: 0vw;
  color: white;
  font-size:1.171vw;
}
.stickyTodaysSpecial p:hover{
  color: rgb(255,213,53);
  cursor: pointer;
}
.stickyMenuNav{
  display: flex;
  justify-content: center;
  position: relative;
  height: 2.25vw;
  width: 100%;
  top: 7.9vw;
}
.stickyMenuNav a{
  font-weight: 800;
  transition: 0.35s;
  padding-left: 1.1vw;
  padding-right: 1.1vw;
  color:white;
  font-family: 'WorkSans-Regular';
  font-size: 1.18vw;
}
.stickyMenuNav a:hover{
  color: rgb(255,213,53);
}
.shop{
  position: absolute;
  left: 33.3vw;
  top: 0vw;
  padding-bottom: 15px;
}

.stickySocialMedia{
  transition: 1s;
  position: fixed;
  top: -10vw;
  right: 14.2vw;
}
.stickySocialMedia .fa-facebook,.stickySocialMedia .fa-twitter,.stickySocialMedia .fa-instagram{
  width: 2vw;
  height: 2.7vw;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-left: 0.3vw;
  margin-right: 0.81vw;
  background-color: rgb(235,221,84,0.5);
  color: white;
}
.fa:hover{
  cursor: pointer;
}

.stickyLogin{
  position: absolute;
  top: 7.4vw;
  right: 4.8vw;
  font-family: 'WorkSans-Bold';
  display: flex;
  align-items:  center;
  font-size: 0.96vw;
  height: 2vw;
}
.stickyLogin p{
  transition: 0.3s;
  font-weight: 900;
  color: white;
  font-size: 1.33vw;
}
.stickyLogin p:hover{
  color: rgb(255,213,53);
  cursor: pointer;
}
.loginPng{
  margin-left: 1vw;
  background-image: url('../img/png/loginButton.png');
  width: 1.7vw;
  height: 1.46vw;
}
.stickyLogin:hover{
  cursor: pointer;
}
/* blackOverLay */
.blackOverlay{
  transition: 0.5s;
  position: fixed;
  z-index: 30;
  background-color: rgb(0,0,0,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
}
.adBoxBlackOverlay{
  width: 40.955vw !important;
  height: 4.7vw !important;
  left: 1.911vw !important;
  margin: 0 !important;
  top: 2.2vw !important;
  outline:1.54vw solid rgb(255,154,197,0.4) !important;
}
.blackLayerInside{
  width: 44.035vw !important;
  height: 7.78vw !important;
  left: 0.371vw !important;
  margin: 0 !important;
  top: 0.66vw !important;
  position: absolute;
  background: transparent;
  outline: 10vw solid rgb(0,0,0,0.6);
}
.adlayer{
  top: 1.25vw !important;
  filter: brightness(300%) !important;
}
.adlayer input{
  height: 2.132vw !important;
  width: 12.42vw !important;
  padding-left: 10px;
}
.adlayer input::placeholder{
  opacity: 0.8;
  font-weight: 900;
  color: rgb(44,27,17);
}
.yellowBag{
  background-image: url("../img/png/yellow-bag.png") !important;
  width: 10% !important;
}
.littleArrowLayer{
  width: 2.2vw !important;
  height: 2.2vw !important;
}
.littleArroHtmllayer{
  font-size: 1.7vw !important;
}
.blackDivOneLayer{
  right: -20vw !important;
}
.blackDivTwoLayer{
  right: -20vw !important;
}
.adBoxBlackOverlay p{
  color: rgb(54,22,3) !important;
  margin-left: 5vw !important;
  margin-top: 1.7vw !important;
  font-size: 1.05vw !important;
}
.specialSalesBlackLayer{
  overflow: hidden;
  width: 45.588vw !important;
  top: 10vw !important;
  height:12.86vw !important;
}
.closeBlackLayer{
  font-weight: 100;
  font-size: 2vw;
  color: white;
  top: 10vw;
  left: 42.8vw;
  position: absolute;
}
.closeBlackLayer:hover{
  cursor: pointer;
}
/* MAIN MAIN MAIN */
main{
  margin-top: 10.05vw;
  padding-top: 0.1px;
  position: relative;
  height: 43.3vw;
  /* background-image: url('../img/coverBG.jpg'); */
}
.subscribeArrow{
  margin: 0;
  position: absolute;
  top: -2.8vw;
  left: 5vw;
   transform: rotate(90deg);
}
.subscribeArrow:hover{
  cursor: pointer;
}
.subscribeArrow p{
  transform: rotate(90deg);
  margin: 0;
  font-size: 5vw;
  transform: scale(1,1.8);
  font-weight: 100;
  color: black;
  font-family: 'WorkSans-Thin';
}

.mainBgDiv{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(220,101,137);
}

.narrowMainBgDiv{
  position: absolute;
  top: -20vw;
  left: 49.6vw;
  width: 80vw;
  height:160vw;
  background-color: rgb(255,180,122);
  transform: rotate(42.5deg);
}
.empowerWomanBox{
  position: absolute;
  top: 6.65vw;
  left: 18.08vw;
}
.empowerWomanBox p:nth-child(1){
  margin: 0;
  font-size: 3.91vw;
  font-family: 'WorkSans-SemiBold';
  color: black;
}
.empowerWomanBox p:nth-child(2){
  margin: 0;
  margin-top: -0.8vw;
  font-size: 1.759vw;
  color: black;
}
.itemsOnSale{
  position: absolute;
  left: 26.88vw;
  top: 21vw;
}
.itemsOnSale p{
  margin: 0;
  font-size: 2.346vw;
  font-family: 'WorkSans-SemiBold';
  color: rgb(57,5,46);
}
.shopNow{
  position: absolute;
  width: 12.95vw;
  height: 3.81vw;
  background-color: rgb(57,5,46);
  color:white;
  font-size: 1.466vw;
  top: 31.036vw;
  left: 53.519vw;
  border: none;
}
.dior{
  position: absolute;
  z-index: 13;
  width: 32.96vw;
  height: 45.55vw;
  /* height: 47.55vw; */
  bottom: -5.6vw;
  left: -1.9vw;
  /* left: -4.2vw; */
  /* bottom: -10.5vw;; */
}
.smoke{
  transition-timing-function: linear;
  transition: 5s;
  opacity: 0.1;
  position: absolute;
  z-index: 13;
  /* width: 32.96vw; */
  width: 30vw;
  left:-5vw;
  height: 47.55vw;
  bottom: -8vw;;

}
.crayon{
  transition: 1s;
  position: absolute;
  z-index: 13;
  width: 5.669vw;
  height: 26.832vw;
  bottom: 2vw;
  /* bottom: -0.14vw; original before animation */
  left: 18.08vw;
}
.crayonShadow{
  opacity: 0.5;
  transition: 1s;
  position: absolute;
  z-index: 13;
  left: 18.08vw;
  bottom: -20vw;
  /* bottom: -17.59vw; original before animation */
  width: 5.669vw;
  height: 17.399vw;
}
.browBrush{
  position: absolute;
  z-index: 14;
  left: 26vw;
  bottom: -6.1vw;
  width: 23.02vw;
  height: 22.77vw;
}
.eyeBrush{
  position: absolute;
  z-index: 14;
  right: 0;
  bottom: -3.1vw;
  width: 6.74vw;
  height: 23.185vw;
}
.girl{
  position: absolute;
  z-index: 13;
  width: 32.795vw;
  height: 46.43vw;
  bottom: -0.6vw;
  right: 0;
}

/*  lineDownAnim animations*/
.lineDownAnim{
  position: absolute;
  width: 0.146vw;
  height: 13.489vw;
  background-color: rgb(236,208,109);
  left: 49.95vw;
  top: 26.39vw;
  animation-name: lineDownAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes lineDownAnim{
  0%{
    height: 1vw;
  }
  100%{
    height: 13.489vw;
  }
}
/* triangle anim */
.triangleBox{
  transform: rotate(45deg);
  position: absolute;
  background-color: rgb(229,225,100,0.73);
  width: 3.75vw;
  height: 3.75vw;
  outline: 0.5vw solid rgb(229,225,100,0.43);
  top:38.4vw;
  right: 46.497vw;
  border-radius: 1px;
}
.triangleAnim{
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1.136vw solid transparent;
  border-top: 1.136vw solid rgb(229,255,100);
  transform: rotate(-45deg);
  top: 2.272vw;
  left: 2.272vw;
  animation-name: triangleAnim;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}
@keyframes triangleAnim {
  0%{
    opacity: 1;
    top: 2.272vw;
    left: 2.272vw;
  }
  100%{
    opacity: 0;
    top: 0.5vw;
    left: 0.5vw;
  }
}
/* triangle anim end*/
/* whatWeSellBnd bnd */
.whatWeSellBnd p:nth-child(1){
  margin: 0;
  margin-top: 13vw;
  margin-left: 9vw;
  font-size: 1.85vw;
  color:rgb(102,102,102);
  font-family: 'WorkSans-Regular';
}
.whatWeSellBnd p:nth-child(2){
  margin: 0;
  margin-left: 9.25vw;
  font-size: 1.65vw;
  color:rgb(102,102,102);
  font-weight: 800;
  font-family: 'WorkSans-Regular';
}
.whatWeSellBnd h4{
  font-weight: 100;
  margin-top: 1.4vw;
  margin-left: 15vw;
  margin-bottom: -2.6vw;
}
.whatWeSellBnd h4 span{
  font-family: 'Oranienbaum', serif;
}
/* BRIDAL SECTION */
/* .bridalSection{
  position: relative;
}
.bridalSection h4{
  font-weight: 100;
  font-family: 'WorkSans-Thin';
  margin-top: 13.37vw;
  margin-left: 18.58vw;
}
.bridalSection h4 span{
  font-family: 'Oranienbaum', serif;
}
.bridalImageOrangeBox{
  width: 100%;
  position: relative;
  height: 37.17vw;
  background: blue;
  background: linear-gradient(to bottom, rgba(228,132,120,1) 0%, rgba(255,187,176,1) 100%);
}
.narrowDivBox{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.narrowDiv{
  position: absolute;
  top: -15vw;
  left: 39vw;
  width: 22.3vw;
  height: 70vw;
  background-color: rgb(221,122,110);
  transform: rotate(-38deg);
}
.bridalImage{
  top: 5.2vw;
  left: 13%;
  position: relative;
  padding-top: 0.1px;
  width: 74%;
  height: 38.66vw;
}
.bridal{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bridalOne,
.bridalTwo,
.bridalThree,
.bridalFour{
  display: block;
  transition: 1s;
  opacity: 0;
}
.bridalOne{background-image: url('../img/bridal/skinCare.jpg');}
.bridalTwo{background-image: url('../img/bridal/manicure.jpg');}
.bridalThree{background-image: url('../img/bridal/pedicure.jpg');}
.bridalFour{background-image: url('../img/bridal/bridal.jpg');}


.bridalOverLay{
  position: absolute;
  background-color: rgb(209,254,221,0.30);
  border: 1px solid rgb(214,243,217);
  width: 56vw;
  height: 28.62vw;
  margin-left: 7.8vw;
  margin-top: 7.063vw;
}
.bridalHugeFont{
  transition: 0.5s;
  opacity: 1;
  font-family: 'Oranienbaum', serif;
  font-size: 11.5vw;
  text-align: center;
  margin-top: 4.5vw;
  color: white;
}
.allGenderText{
  position: absolute;
  right:4.31vw;
  bottom: 2.23vw;
  background-color: rgb(228,132,120,0.5);
  width: 18.587vw;
  height: 3.71vw;
  font-size: 1.35vw;
  font-family: 'WorkSans-Regular';
  border: none;
} */

/* whatWeDo */
.whatWeDo{
  height: 45.9vw;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 11vw;
}
.whatWeDo>div>div{
  width: 100%;
  height: 100%;
  position:relative;
  top:90%;
  transition: 1s;
  background: rgb(248,80,50,0.8);
}
.whatWeDo>div{
  overflow: hidden;
}
.whatWeDoJS{
  position: relative;
  width: 14.82vw;
  height: 27vw;
}

.whatWeDoTextBox{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(248,80,50,0.8);
}
.whatWeDoTextBox p{
  color:black;
}
.fontFam{
  font-size: 1.95vw;
  font-family: 'WorkSans-Regular';
  margin: 0;
}
/* SPECIAL OFFERS , SPECIAL OFFERS */
.specialOfferSection{
  padding-top: 0.1px;
  font-family: 'WorkSans-Regular';
  position: relative;
  height: 68.77vw;
  background-color: rgb(243,235,226);
}
.specialOfferSection h4{
  font-weight: 100;
  font-family: 'WorkSans-Thin';
  margin-top: -4.4vw;
  margin-left: 16.72vw;
  font-size: 7vw;
}
.specialOfferSection h4 span{
  font-weight: 400;
  font-family: 'Oranienbaum', serif;
}
.favoriteProductP{
  font-family: 'WorkSans-Regular';
  margin: 0;
  margin-top: -2.5vw;
  text-align: center;
  font-size: 1.7vw;
}
.linePng{
  position: relative;
  background-image:url('../img/png/lineTriangle.png');
  position: relative;
  margin-left: 50.5%;
  left: -8.35vw;
  width: 16.69vw;
  height: 2.07vw;
  margin-top: 0vw;
  margin-bottom: 2vw;
}

.gridContainer{
  position: absolute;
  bottom: 6.171vw;
  height: 51.4vw;
  width: 100%;
  color: rgb(104,102,73);
}

.growth{
  position: absolute;
  margin: 0;
  left: 4.08vw;
  height: 100%;
  width: 34.86vw;
  text-align: center;
}

.price{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 5.33%;
}
.priceNumbers{
  position: relative;
  font-size: 1.25vw;
  margin: 0;
}
#oldPrice{
  color: red;
}
.price p{
  margin: 0;
  margin-bottom: 2%;
}
.redLine{
  margin-left: 38%;
  transform: rotate(-45deg);
  position: absolute;
  height: 2px;
  width: 4vw;
  top:0.5vw;
  background-color: red;
  border-radius: 3px;
}

.gridContainer .fa::before{
  font-size: 1.3vw;
  text-shadow: 1px 1px white;
}
.unchecked{
  color:white;
}
.checked{
  position: relative;
  color:rgb(255,166,0);
}

.gridBox{
  position: absolute;
  display: grid;
  top: 0px;
  width: 52vw;
  height: 44.88vw;
  right: 4.97vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.633vw;
}
.gridBox>div{
  background-size: 100% 93%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  border: 1px solid rgb(232,226,126);
}
.gridBox .redLine{
  margin-left: 27%;
}
.gridBox img{
  height: 93%;
}


.greatBuysButton{
  position: absolute;
  bottom:0px;
  right: 4.97vw;
  width: 25.98vw;
  height: 4.825vw;
  border: 1px solid rgb(232,226,126);
  background-color: rgb(232,226,126);
  z-index: 1;
}
.greatBuysButton:hover{
  cursor: pointer;
}
.greatBuysButton p{
  text-align: center;
  margin-right: 26.28%;
  font-family: 'WorkSans-Regular';
  font-size: 1.5vw;
  color: rgb(104,102,73);
}
.ArrowBox{
  position: absolute;
  right: 0px;
  top:0px;
  height: 100%;
  width: 26.28%;
  background-color: rgb(216,217,217);
}
.topArrow{
  margin-left: 35%;
  height: 2px;
  width: 30%;
  background-color: rgb(50,59,98);
  transform: rotate(35deg);
  margin-top: 25%;
}
.botArrow{
  margin-left: 35%;
  margin-top: 14%;
  height: 2px;
  width: 30%;
  background-color: rgb(50,59,98);
  transform: rotate(-35deg);
}

/* SPECIAL SALES SECTION */
.specialSales{
  position: relative;
  padding-top: 0.1px;
  width: 100%;
  height: 25vw;
  background-image:url('../img/specialSectionBG.jpg');
}
.advertBox{
  overflow: hidden;
  position: relative;
  margin-top: 8.5vw;
  margin-left: 50%;
  left: -32vw;
  width: 64vw;
  height: 7.5vw;
  outline:2.45vw solid rgb(255,154,197,0.4);
  background-color: rgb(255,255,255,0.85);
}
.blackDivOne{
  background-color: black;
  position: absolute;
  top: 0;
  right: -14.5vw;
  width: 50vw;
  height: 50vw;
  transform: rotate(45deg);
}
.blackDivTwo{
  background-color: black;
  position: absolute;
  bottom: 0;
  right: -14.5vw;
  width: 50vw;
  height: 50vw;
  transform: rotate(-45deg);
}

.gradientYellow{
  position: absolute;
  width: 50vw;
  height: 50vw;
  transform: rotate(45deg);
  top: -21.5vw;
  left: -21.5vw;
  background: linear-gradient(45deg, rgba(197,164,95,1) 0%, rgba(197,164,95,1) 48%, rgba(221,219,135,1) 100%);
}

.pinkBag{
  position: absolute;
  left: 1%;
  top: 2.5%;
  width: 8%;
  height: 95%;
  background-image: url('../img/png/pink-bags.png');
}
.advertBox p{
  margin-left: 15%;
  font-size: 2.1vw;
  position: relative;
  font-family: 'WorkSans-Bold';
  color: white;
}
.advertBoxButton{
  position: absolute;
  display: flex;
  right: 1.48vw;
  top: 2vw;
  border-color: red;
}
.advertBoxButton input{
  width: 18.58vw;
  height: : 3.19vw;
  border: none;
  background-image: url('../img/input.jpg');
  background-size: 128% 100%;
}
.advertBoxButton input::placeholder{
  padding-left: 1vw;
}
.littleArrow{
  margin-left: 0.5vw;
  width: 3vw;
  height: 3vw;
  background-color: rgb(192,170,173);
  border-radius: 45%;
  display: flex;
  justify-content: center;
}
.littleArrow:hover{
  cursor: pointer;
}
.littleArroHtml{
  position: relative;
  left:0.2vw;
  font-size: 2vw;
  font-weight: 800;
}
.littleArroHtml:hover{
  color: rgb(210,200,197);
}
.advertButton{
  font-family: 'WorkSans-Regular';
  position: absolute;
  top: 27.5%;
  right: 2.142%;
  width: 22.14%;
  height: 40%;
  border-radius: 1.48vw;
  color: white;
  font-size: 1.63vw;
  background-color: rgba(221,219,135,1);
}

/*  threeCarBigBox big box*/
.threeCarBigBox{
  position: relative;
}
.carSelectBox{
  z-index: 6;
  position: absolute;
  display: flex;
  top: 7vw;
  left: 25vw;
}
.carSelectBox p:hover{
  cursor: pointer;
}
.selectOne{
font-weight: 900;
}
.selectTwo{

}
.selectThree{

}
/* NEW ARIVALS */
.newArrivals{
  transition: 1s;
  opacity: 1;
  z-index: 3;
  padding-top: 0.1px;
  position: relative;
  width: 100%;
  height: 39.86vw;
}
.newArrivals .greatBuysButton{
  background-color: rgb(247,200,197);
  border-color: rgb(247,200,197);
}
.newArrivals h2{
  margin: 0;
  margin-left: 23.23vw;
  margin-top: 5vw;
}
.carWraper{
  position: absolute;
  top: 11.358vw;
  left: 0px;
  width: 100%;
  height: 22.5vw;
  background-color: rgb(247,200,197);
}
.leftImage{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 23.23vw;
  height: 30.734vw;
}
.blurBox{
  z-index: 2;
  box-shadow: inset 0px 0px 1.2vw 0.9vw rgb(247,200,197);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.carContainer{
  position: absolute;
  height: 100%;
  width: 65.3vw;
  right: 6vw;
  top: 0px;
  overflow: hidden;
}
#carouselOne{
  transition: 0.7s;
  display: flex;
  position: relative;
  top: 16.5%;
  height: 67.65%;
  width: 140%;
  left: -0%;
}
#carouselTwo{
  transition: 0.7s;
  display: flex;
  position: relative;
  top: 16.5%;
  height: 67.65%;
  width: 140%;
  left: -0%;
}
.carPicContainer{
  position: relative;
  height: 100%;
  width: 20%;
  text-align: center;
}
.carPicContainer p{
  font-family: 'WorkSans-Regular';
  margin: 0;
  font-size: 1.11vw;
}
.carPicContainer >div:nth-child(1){
  position: relative;
  height: 75%;
  width: 100%;
}

.arrow{
  position: absolute;
  left: 2.1vw;
  top: -2vw;
  width: 10vw;
  height: 10vw;
  border: 2px solid white;
  transform: rotate(45deg);
}
.leftCarArrowBox{
  overflow: hidden;
  position: absolute;
  width: 3.2vw;
  height: 6.31vw;
  top:7.05vw;
  left: 24vw;
  z-index: 3;
}
.rightCarArrowBox{
  overflow: hidden;
  transform: rotate(180deg);
  position: absolute;
  width: 3.2vw;
  height: 6.31vw;
  top:7.05vw;
  right:3vw;
}
.leftCarArrowBox:hover ,.rightCarArrowBox:hover{
  cursor: pointer;
}

/* BEST SELLERS SECTION ,carTwo*/
.newArrivals.bestSellers{
  transition: 1s;
  top: 0;
  position: absolute;
  opacity: 0;
  z-index: 0;
}
.bestSellers .carWraper{
  background-color: rgb(249,216,193);
}
.bestSellers .greatBuysButton{
  background-color: rgb(249,216,193);
  border-color: rgb(249,216,193);
}
.bestSellers .leftImage{
  background-image: url('../img/png/car-two/carTwoLeftPic.png');
}

.bestSellers .blurBox{
  box-shadow: inset 0px 0px 1.2vw 0.9vw rgb(249,216,193);
}

/* trending section */
.trendingLooksSection{
  transition: 1s;
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 5.8vw;
  width: 100%;
  height: 36.74vw;
}
.trendingLooksSection h2{
  margin-top: -1vw;
}

.trendingLooksSection .carWraper{
  top: 5.567vw;
  background-color: rgb(202,164,207);
}

.trendingLooksSection .greatBuysButton{
  background-color: rgb(202,164,207);
  border-color: rgb(202,164,207);
}
.trendingLooksSection .greatBuysButton p{
  color: #d47959;
}

.trendingLooksSection .leftImage{
  bottom:-2.227vw;
  height: 34.15vw;
}

.trendingThreePicWraper{
  display: flex;
  position: absolute;
  right: 3.93vw;
  bottom: -2.227vw;
}

.trendingThreePicWraper div{
  position: relative;
  width: 22.27vw;
  height: 22.27vw;
  margin-left: 1.85vw;
}

/* INSTAGRAM SECTION */
.gridBoxSpecial{
  width: 74.12%;
  height: 44.477vw;
  margin-left: 13%;
  margin-top: 4.08vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 0.222vw;
  padding: 0.5vw;
  padding-bottom: 0;
}
.gridBoxSpecial div{
  position: relative;
  overflow: hidden;
}
.gridBoxSpecial div:hover{
  cursor: pointer;
}

.gridBoxSpecial div:nth-child(1) h2{
  font-family: 'Oranienbaum', serif;
  position: relative;
  z-index: 1;
  writing-mode:tb-rl;
  color: white;
  font-size: 6vw;
  margin: 0;
  margin-top: 1vw;
  margin-left: 3vw;
}
.gridBoxSpecial div:nth-child(1){
  background-color: rgb(229,224,102);
  grid-row: 1/3;
  grid-column: 1/2;
}
.gridBoxSpecial div:nth-child(2){
  grid-row: 1/4;
  grid-column: 2/3;
}
.gridBoxSpecial div:nth-child(3){
  grid-row: 1/2;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(4){
  grid-row: 2/3;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(5){
  grid-row: 3/4;
  grid-column: 3/4;
}
.gridBoxSpecial div:nth-child(6){
  grid-row: 3/4;
  grid-column: 1/2;
}

/*  SECTION NEWS AND EVENTS */
.newsAndEventsSection{
  position: relative;
  /* border: 1px solid green; */
}
.newsAndEventsSection a{
  color: black;
  font-size: 1.336vw;
  color: rgb(85,85,85);
}
.pinkBox{
  position: relative;
  margin-top: 6.31vw;
  padding-top: 0.1px;
  background-color: rgb(248,243,239);
  width: 100%;
  min-height: 74.23vw;
}
.newsAndEventsSection h2{
  margin: 0;
  margin-top: 3.34vw;
  margin-bottom: 3vw;
  text-align: center;
}

.carThreeContainer{
  position: relative;
  width: 91vw;
  height: 57.5vw;
  bottom: 0px;
  margin-left: 50%;
  left:-45.5vw;
    overflow: hidden;
}

.carouselThree{
  transition: 0.7s;
  display: flex;
  position: absolute;
  width: 150%;
  height: 100%;
  left:0%;
}
.carouselThree>div{
  width: 32%;
  margin-right: 0.666%;
  margin-left: 0.666%;
}
.carDivOne,.carDivTwo,.carDivThree{
  position: relative;
  width: 100%;
  height:51.28%;
}

.yellowSquareContainer{
  margin-top: 2.59vw;
  display: flex;
}
.yellowSquareContainer p{
  margin: 0;
}
.YellowSquare{
  margin: 4px;
  text-align: center;
  width: 4.45vw;
  height: 4.45vw;
  border: 1px solid rgb(239,234,171);
  outline: 4px solid rgb(229,225,100);
  margin-right: 1vw;
}
.YellowSquare p{
  margin: 0;
  font-size: 1.336vw;
}
.YellowSquare b:nth-child(1) p{
  margin-top: 0.6vw;
  margin-bottom: -0.3vw;
}
.loremIpsumText{
  margin-top: 2.227vw;
}
.loremIpsumText p{
  font-size: 1.336vw;
  margin: 0;
  line-height: 1.6vw;
  margin-bottom: 2.5vw;
}

.carThreeArrowContainer{
  position: relative;
  width: 6.68vw;
  height: 2.96vw;
  margin-left: 50%;
  margin-top: 0.37vw;
  left: -3.34vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 5.716vw;
}

.carThreeArrowContainer>div{
  background-image: url('../img/carThreeArrow.jpg');
  width: 45%;
  height: 100%;
}
.carThreeArrowContainer>div:hover{
  cursor: pointer;
}
#carThreeRightArrow{
  transform: rotate(180deg);
}
/* BODY CREAM SECTION */
.bodyCream{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 59.39vw;
  margin-bottom: 5.2vw;
  background: radial-gradient(ellipse at center, rgba(247,237,195,1) 0%, rgba(255,221,135,1) 100%);
}
.narrowDivBG{
  width: 120vw;
  position: absolute;
  height: 20vw;
  bottom: -5vw;
  left: -20vw;
  background-color: rgb(223,154,135);
  border-top: 0.37vw solid white;
  transform: rotate(7deg);
}

.bodyCreamTextBox{
  margin-left: 15.6vw;
}
.bodyCreamTextBox h2{
  color: white;
  font-size: 10vw;
  margin: 0;
  margin-top: 3vw;
  text-shadow: 0px 0.5vw 2px rgba(0,0,0,0.3);
  transform: scaleY(0.7);
}
.bodyCreamTextBox p{
  color: rgb(234,183,109);
  font-size: 2vw;
  margin: 0;
  margin-left: 1.11vw;
  margin-top: -2.5vw;
}

.priceOff{
  position: absolute;
  width: 15.59vw;
  height: 15.59vw;
  border-radius: 50%;
  left: -7.8vw;
  top: 13vw;
  margin-left: 61%;
  text-align: center;
  background-color: rgb(241,189,143);
}
.priceOff p{
  margin: 0;
  font-size: 5vw;
  color: black;
}
.priceOff p:nth-child(1){
  margin-top: 1vw;
}
.priceOff p:nth-child(2){
  margin-top: -1vw;
}
.BBcream{
  position: absolute;
  width: 20vw;
  height: 35vw;
  margin-left: 50%;
  left: -11.4vw;
  top: 11.5vw;
}

.regularPriceTextBox{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.regularPriceTextBox a{
  display:block;
  color: rgb(101,81,75);
  font-size: 1.3vw;
  margin-top: 2.969vw;
  margin-bottom: 1.9vw;
}
.regularPriceTextBox p{
  color: white;
  margin: 0;
  font-size: 1.3vw;
}
.regularPriceTextBox span{
  color: rgb(243,238,163);
}
/* NEED HELP? SECTION  */
.needHelpSection{
  position: relative;
  min-height: 27.83vw;
  border-top: 0.37vw solid rgb(243,230,228);
  background-color: rgb(245,236,235);
}
.needHelpSection .stickySocialMedia{
  position: absolute;
  top: 4.97vw;
  right: 2.86vw;
}
.needHelpSection .stickySocialMedia .fa-facebook,
.needHelpSection .stickySocialMedia .fa-twitter,
.needHelpSection .stickySocialMedia .fa-instagram{
  background-color: rgb(236,222,96);
}
.needHelpSection .advertBox{
  margin-top: 0;
  background-color: white;
  outline: 0.9vw solid rgb(213,213,213);
  z-index: 3;
  bottom: -2.6vw;
}

nav{
  margin-top: 6.68vw;
  width: 57vw;
  display: flex;
  justify-content: space-between;
}
nav h4{
  font-family: 'WorkSans-Regular';
  color: rgb(223,154,135);
  font-size: 2.22vw;
  margin: 0;
  margin-bottom: 1vw;
}
nav p{
  font-size: 1.18vw;
  margin: 0;
}
nav a{
  color: rgb(85,85,85);
  font-size: 1.3vw;
}
nav div:nth-child(1){
  position: relative;
  left: 3.93vw;
}
nav div:nth-child(2){
  position: relative;
  right: 3.6vw;
}
/* FOOTER */
footer{
  padding-top: 0.1px;
  position: relative;
  width: 100%;
  min-height: 17.1vw;
  background-color: rgb(62,32,76);
}

.nailsPng{
  background-image: url('../img/png/nails.png');
  width: 20.64vw;
  height: 6.33vw;
  margin-left: 4.02vw;
  margin-top: 5.29vw;
}

footer .nailsPng{
  position: relative;
  width: 16.367vw;
  height: 5.825vw;
  margin-left: 50%;
  margin-top: 7.06vw;
  left:-7.68vw;
}

footer p{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: rgb(172,172,172,0.5);
  margin-bottom: 0px;
  font-size: 1.1vw;
}

footer span{
  position: relative;
  top:0.25vw;
  font-size: 2vw;
}
/* display none for desktop rules */
.burgerMenuMobile,
/* .makeAppointentMobile, */
.mobileOnly,
.mobileDisplayTriangle,
.mobileOnlySpecialOffer,
.mobileOnlyArrowsGrid,
.carouselDotsMobileOnly,
.dotsCarOneMobileOnly,
.dotsCarTwoMobileOnly
{
  display: none;
}
/* PORTRAIT BREAKPOINT */
/* PORTRAIT BREAKPOINT */
/* PORTRAIT BREAKPOINT */
@media(orientation:portrait){
  .stickyMenuNav,
  .stickyLogin,
  .nailsPng,
  .triangleBox,
  .bodyCreamTextBox p,
  .priceOff,
  .greatBuysButton,
  .blurBox
  {
    display: none;
  }

  .mobileOnlySpecialOffer,
  .mobileDisplayTriangle,
  .mobileOnlyArrowsGrid,
  .carouselDotsMobileOnly,
  .dotsCarOneMobileOnly,
  .dotsCarTwoMobileOnly
  {
    display: block;
  }


  .burgerMenuMobile{
    position: absolute;
    display: block;
    width: 12.5vw;
    top:5vw;
    right:6.4vw;
  }
  .burgerMenuMobile div{
    float: right;
    margin-bottom: 1.1vw;
    width: 100%;
    height: 1.1vw;
    background-color: rgb(240,0,96);
  }
  .burgerMenuMobile div:nth-child(1){
    width: 65%;
  }
  .stickyMenu{
    border-color: rgb(240,0,96);
  }
  .stickyTodaysSpecial p{
    font-size: 5.5vw;
    color: rgb(240,0,96);
  }

  main{
    position: relative;
    background-image: url('../img/mobile-img/mainBG.jpg');
    height: 100vh;
  }

  .makeAppointentMobile{
    position: absolute;
    display: flex;
    bottom: 2vw;
    right: 2vw;
  }
  .makeAppointentMobile p{
    font-family: 'WorkSans-Bold';
    font-size: 4vw;
    margin-right: 2vw;
    margin-top: 6vw;
    margin-bottom: 0;
    color: rgb(255,172,162);
  }
  .appointmentsMobilePNG{
    width: 12vw;
    height: 12vw;
  }
  .lineDownAnim{
    top:85vh;
    left: 50vw;
  }
  /* BRIDAL SECTION */

  /* SPECIAL OFFER SECTION!MOBILE */
  .specialOfferSection{
    position: relative;
    padding-bottom: 1px;
    height: auto;
  }
  .specialOfferSection h4{
    text-align: center;
    margin-top: 6vw;
    font-size: 8vw;
    margin-left: auto;
  }
  .favoriteProductP{
    font-size: 5vw;
  }
  .linePng{
    position: relative;
    width: 50vw;
    height: 6vw;
    left: -25vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
  }
  /* more special offers */
  .gridContainer{
    position: relative;
    height: auto;
  }
  .mobileOnlySpecialOffer{
    text-align: center;
    position: relative;
    margin-top: 25vw;
  }
  .mobileDisplayTriangle{
    position: relative;
    top: 0;
    left: 0;
  }
  .triangleBox{
    width: 11vw;
    height: 11vw;
    margin-left: 50%;
    left:-5.5vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }
  .triangleAnim{
    border-width: 5vw;
  }
  @keyframes triangleAnim {
    0%{
      opacity: 1;
      top: 4.544vw;
      left: 4.544vw;
    }
    100%{
      opacity: 0;
      top: 0.5vw;
      left: 0.5vw;
    }
  }
  .mobileOnlyArrowsGrid{
    height: 12.5vw;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 40vw;
  }
  .mobileOnlyArrowsGrid>div{
    position: absolute;
    height: 100%;
    width: 10%;
    overflow: hidden;
    background-color: rgb(240,212,199);
  }
  .mobileArrow{
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
    margin-top: 1vw;
    border: 4px solid black;
    transform: rotate(45deg);
  }
  .mobileRightArrow{
    transform: rotate(180deg);
    right: 0px;
  }
  .gridBox>div{
    opacity: 1;
    display: none;
    transition: 1s;
  }
  .gridBox div:nth-child(2){
    display: block;
  }
  .gridBox{
    position: relative;
    background-size: 100% 110%;
    top:8vw;
    left: 0;
    margin-left: 10%;
    width: 80%;
    min-height:100vw;
    border: 1px solid rgb(232,217,148);
    margin-bottom: 15vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .growth{
    position: relative;
    height: 150vw;
    width: 100%;
    left: 0;
    top: 8vw;
  }
  .priceNumbers p{
    font-size: 5vw;
  }
  .gridContainer .fa::before{
    font-size: 5vw;
    text-shadow: 2px 2px white;
  }
  .redLine{
    width: 15vw;
    margin-left: 35%;
    top: 2vw;
  }
  .carouselDotsMobileOnly{
    height: 5vw;
    display: flex;
    justify-content: center;
    margin-bottom: 14vw;
    margin-top: -3vw;
  }
  .carouselDotsMobileOnly div:nth-child(5){
    background-color: rgb(240,212,199);
    width: 4.5vw;
    height: 4.5vw;
  }
  .dots{
    transition: 0.35s;
    margin-right: 3vw;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: white;
  }
  /* threeCarBigBox  mobile*/
  .threeCarBigBox {
    margin-bottom: 25vw;
  }
  /* NEW ARRIVAL SECTION mobile*/
  .newArrivals{
    padding-bottom: 1px;
    height: auto;
    padding-top: 0.1px;
  }
  .newArrivals h2{
    position: relative;
    font-size: 12vw;
    top: 12vw;
    margin-left: 30vw;
  }
  .carWraper{
    position: relative;
    height: 156.25vw;
  }
  .leftImage{
    bottom: auto;
    top: -15vw;
    width: 27vw;
    height: 38vw;
  }
  .leftCarArrowBox{
    left: 0px;
    width: 10%;
    height: 12vw;
    top: 67vw;
    background-color: rgb(246,212,209);
  }
  .rightCarArrowBox{
    right: 0px;
    width: 10%;
    height: 12vw;
    top: 67vw;
    background-color: rgb(246,212,209);
  }
  .arrow{
    top: 0.8vw;
    left: 3.8vw;
    border-color: black;
    border-width: 3px;
  }
  .carContainer{
    width: 80%;
    right: 10%;
  }
  #carouselOne{
    width: 99%;
    display: block;
  }
  #carouselOne>div{
    transition: 0.2s;
    opacity: 1;
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(249,242,219);
  }
  #carouselOne div:nth-child(1){
    display: block;
  }

  #carouselTwo{
    width: 99%;
    display: block;
  }
  #carouselTwo>div{
    transition: 0.2s;
    opacity: 1;
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid yellow;
  }
  #carouselTwo div:nth-child(1){
    display: block;
  }
  .carPicContainer p{
    font-size: 5vw;
  }
  .dotsCarOneMobileOnly,.dotsCarTwoMobileOnly{
    position: absolute;
    display: flex;
    bottom: 13.5vw;
    width: 100%;
    height: 5vw;
    justify-content: center;
  }
  .dotsCarOneMobileOnly div,.dotsCarTwoMobileOnly div{
    transition: 0.5s;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 3vw;
    background-color: white;
  }
  .dotsCarOneMobileOnly div:nth-child(1),.dotsCarTwoMobileOnly div:nth-child(1){
    width: 4.5vw;
    height: 4.5vw;
    background-color: rgb(255,219,213);
  }


  /* INSTAGRAM SECTION  */
  .gridBoxSpecial{
    height: 172vw;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .gridBoxSpecial div:nth-child(1){display: none;}
  .gridBoxSpecial div:nth-child(2){
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .gridBoxSpecial div:nth-child(3){
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 5%;
  }
  .gridBoxSpecial div:nth-child(4){
    grid-row: 3/4;
    grid-column: 2/3;
    margin-right: 5%;
  }
  .gridBoxSpecial div:nth-child(5){
    grid-row: 4/5;
    grid-column: 1/2;
    margin-left: 5%;
  }
  .gridBoxSpecial div:nth-child(6){
    grid-row: 4/5;
    grid-column: 2/3;
    margin-right: 5%;
  }
  /* 3 car section/news and events*/
  .carThreeContainer{
    height: auto;
  }
  .newsAndEventsSection h2{
    margin-bottom: 3vw;
  }
  .carouselThree>div{
    width: 100%;
  }
  .carouselThree{
    width: 100%;
    position: relative;
    flex-direction: column;
  }
  .carDivOne, .carDivTwo, .carDivThree{
    height: 70vw;
  }
  .YellowSquare{

  }
  #hideMobile{
    display: none;
  }

  /* BODY CREAM SECTION */
  .bodyCream{
    height: 231.87vw;
  }
  .narrowDivBG{
    height: 46.87vw;
    width: 140vw;
    bottom: -7vw;
    border-width: 2vw;
  }
  .bodyCreamTextBox{
    margin-left: 0;
  }
  .bodyCreamTextBox h2{
    color: black;
    transform: none;
    font-size: 12vw;
    text-align: center;
  }
  .BBcream{
    top:20vw;
    left: 0px;
    margin-left: 0;
    width: 100%;
    height: 170vw;
  }
  .regularPriceTextBox a{
    margin-top: 5vw;
    font-size: 4.375vw;
  }
  .regularPriceTextBox p{
    font-size: 4.375vw;
  }
}
