/* font-family: 'Oranienbaum', serif; */
@font-face {
  font-family: 'WorkSans-Regular';
  src:url('../fonts/WorkSans-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-Bold';
  src:url('../fonts/WorkSans-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  src:url('../fonts/WorkSans-ExtraBold.otf') format('truetype');
}
body{
  margin: 0;
}
div,main,section{
  background-size: 100% 100%;
  /* border: 1px solid black; */
}
a{
  text-decoration: none;
  font-family: 'WorkSans-Regular';
}
h2{
  font-family: 'Oranienbaum', serif;
  font-size: 5.345vw;
  color: rgb(85,85,85);
}
h3{
  font-size:2.6vw ;
  font-family: 'Oranienbaum', serif;
  color: rgb(85,85,85);
  margin: 0;
}
p{
  font-family: 'WorkSans-Regular';
  color: rgb(85,85,85);
}
/* sticky menu */
.stickyMenu{
  overflow: hidden;
  transition: 1s;
  position: fixed;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 0vw;
  background-color: rgb(52,11,76,0.9);
  z-index: 10;
  border-bottom: 1px solid rgb(182,9,113);
}
.stickyMenuInside{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 3.427vw;
  z-index: 11;
}
.stickyTodaysSpecial{
  color: rgb(182,9,113);
  font-family: 'WorkSans-Bold';
  margin-left: 6.4vw;
}
.stickyTodaysSpecial p{
  font-size:1.341vw;
}
.stickyMenuNav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 3.427vw;
  width: 26.08vw;
  left: 35.24vw;
  top:0.9vw;
}
.stickyMenuNav a{
  transition: 0.35s;
  color:white;
  font-family: 'WorkSans-Regular';
  font-size: 1.3vw;
}
.stickyMenuNav a:hover{
  color: rgb(182,9,113);
}

.stickySocialMedia{
  transition: 1s;
  position: fixed;
  top: -10vw;
  right: 14.2vw;
}
.stickySocialMedia .fa-facebook,.stickySocialMedia .fa-twitter,.stickySocialMedia .fa-instagram{
  width: 2vw;
  height: 2.7vw;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-left: 0.3vw;
  margin-right: 0.81vw;
  background-color: rgb(235,221,84,0.5);
  color: white;
}
.fa:hover{
  cursor: pointer;
}

.stickyLogin{
  position: absolute;
  top: 0px;
  right: 4vw;
  font-family: 'WorkSans-Bold';
  display: flex;
  align-items: center;
  font-size: 0.96vw;
}
.stickyLogin p{
  color: white;
}
.loginPng{
  margin-left: 1vw;
  background-image: url('../img/png/loginButton.png');
  width: 1.2vw;
  height: 1vw;
}
/* MAIN MAIN MAIN */
main{
  padding-top: 0.1px;
  position: relative;
  height: 44.70vw;
  background-image: url('../img/coverBG.jpg');
}
.nailsPng{
  background-image: url('../img/png/nails.png');
  width: 20.64vw;
  height: 6.33vw;
  margin-left: 4.02vw;
  margin-top: 5.29vw;
}
.numberCover{
  font-family: 'WorkSans-Regular';
  font-size: 1.9vw;
  color:white;
  margin: 0vw;
  margin-left: 6.4vw;
}
.laquer{
  background-image: url('../img/png/laquer.png');
  width: 13.71vw;
  height: 24.73vw;
  margin-left: 5.66vw;
  margin-top: 3vw;
}
.laquerText{
  font-family: 'WorkSans-Regular';
  color: white;
  font-size: 1.26vw;
  margin: 0;
  margin-left: 5.5vw;
}
.appointmentButton{
  position: absolute;
  width: 24.888vw;
  height: 3.725vw;
  background-color: white;
  text-align: center;
  left: 62.89vw;
  top: 38.6vw;
}
.appointmentButton:hover{
  cursor: pointer;
}
.appointmentButton p{
  font-family: 'WorkSans-Regular';
  font-size: 1.86vw;
  margin: 0;
  margin-top: 0.7vw;
  margin-left: -0.5vw;
  color: rgb(70,70,70);
}
.GO{
  background-color: rgba(216,5,110);
  height: 3.8vw;
  width: 10vw;
  border-radius: 2vw;
  position: absolute;
  top: -1px;
  left: 23vw;
}

.GO p{
  font-family: 'WorkSans-Bold';
  color:white;
  font-size: 2.1vw;
  margin: 0;
  margin-top: 0.5vw;
}

/* triangle anim */
.triangleBox{
  transform: rotate(45deg);
  position: absolute;
  background-color: rgb(229,225,100,0.73);
  width: 3.75vw;
  height: 3.75vw;
  outline: 0.5vw solid rgb(229,225,100,0.43);
  top:38.4vw;
  right: 46.497vw;
  border-radius: 1px;
}
.triangleAnim{
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1.136vw solid transparent;
  border-top: 1.136vw solid rgb(229,255,100);
  transform: rotate(-45deg);
  top: 2.272vw;
  left: 2.272vw;
  animation-name: triangleAnim;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
  /* top: 0.5vw; */
  /* left: 0.5vw; */
}
@keyframes triangleAnim {
  0%{
    opacity: 1;
    top: 2.272vw;
    left: 2.272vw;
  }
  100%{
    opacity: 0;
    top: 0.5vw;
    left: 0.5vw;
  }
}
/* triangle anim end*/
/* whatWeDo whatWeDo whatWeDo whatWeDo */
.whatWeDo{
  height: 45.9vw;
  display: flex;
  padding-left: 12.62vw;
  padding-right: 12.62vw;
  padding-top: 2.22vw;
}

.whatWeDoOne{
  position: relative;
  background-image: url('../img/whatWeDoOne.jpg');
  margin-right: 2.6vw;
  width: 21.75vw;
  height: 33.4vw;
}
.whatWeDoTwo{
  position: relative;
  background-image: url('../img/whatWeDoTwo.jpg');
  margin-right: 2.6vw;
  height: 33.4vw;
  width: 24.87vw;
}
.whatWeDoThree{
  position: relative;
  background-image: url('../img/whatWeDoThree.jpg');
  margin-right: 2.6vw;
  width: 21.75vw;
  height: 33.4vw;
}
.whatWeDoTextBox{
  font-family: 'WorkSans-Regular';
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.95vw;
  background-color: rgb(229,225,100,0.33)
}
.whatWeDoTextBox p{
  margin: 0;
}
/* SPECIAL OFFERS , SPECIAL OFFERS */
.specialOfferSection{
  padding-top: 0.1px;
  font-family: 'WorkSans-Regular';
  position: relative;
  height: 69.8vw;
  background-color: rgb(243,235,226);
}
.specialOfferSection h2{
  font-family: 'Oranienbaum', serif;
  margin: 0;
  text-align: center;
  font-size: 5.345vw;
  margin-top: 3.4vw;
}
.favoriteProductP{
  font-family: 'WorkSans-Regular';
  margin: 0;
  margin-top: -0.5vw;
  text-align: center;
  font-size: 1.7vw;
}
.linePng{
  position: relative;
  background-image:url('../img/png/lineTriangle.png');
  position: relative;
  margin-left: 50.5%;
  left: -8.35vw;
  width: 16.69vw;
  height: 2.07vw;
  margin-top: 0;
}

.gridContainer{
  position: absolute;
  bottom: 1.85vw;
  height: 51.4vw;
  width: 100%;
  color: rgb(104,102,73);
}

.growth{
  background-image: url('../img/growth.jpg');
  position: absolute;
  margin: 0;
  left: 4.08vw;
  height: 100%;
  width: 34.86vw;
  text-align: center;
}

.price{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 5.33%;
}
.priceNumbers{
  position: relative;
  font-size: 1.25vw;
  margin: 0;
}
#oldPrice{
  color: red;
}
.price p{
  margin: 0;
  margin-bottom: 2%;
}
.redLine{
  margin-left: 38%;
  transform: rotate(-45deg);
  position: absolute;
  height: 2px;
  width: 4vw;
  top:0.5vw;
  background-color: red;
  border-radius: 3px;
}

.checked{
  color:rgb(255,166,0);
}
.gridContainer .fa::before{
  font-size: 1.3vw;
  text-shadow: 2px 2px white;
}

.gridBox{
  position: absolute;
  display: grid;
  top: 0px;
  width: 52vw;
  height: 44.88vw;
  right: 4.97vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.633vw;
}
.gridBox>div{
  background-size: 100% 93%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  border: 1px solid rgb(232,226,126);
}
.gridBox .redLine{
  margin-left: 27%;
}

.olay{
  background-image: url('../img/six-image-grid/olay.jpg');
}
.sede{
  background-image: url('../img/six-image-grid/sede.jpg');
}
.gucci{
  background-image: url('../img/six-image-grid/gucci.jpg');
}
.cc{
  background-image: url('../img/six-image-grid/cc.jpg');
}
.parfume{
  background-image: url('../img/six-image-grid/parfume.jpg');
}
.flower{
  background-image: url('../img/six-image-grid/flower.jpg');
}

.greatBuysButton{
  position: absolute;
  bottom:0px;
  right: 4.97vw;
  width: 25.98vw;
  height: 4.825vw;
  border: 1px solid rgb(232,226,126);
  background-color: rgb(232,226,126);
}
.greatBuysButton:hover{
  cursor: pointer;
}
.greatBuysButton p{
  text-align: center;
  margin-right: 26.28%;
  font-family: 'WorkSans-Regular';
  font-size: 1.5vw;
  color: rgb(104,102,73);
}
.ArrowBox{
  position: absolute;
  right: 0px;
  top:0px;
  height: 100%;
  width: 26.28%;
  background-color: rgb(216,217,217);
}
.topArrow{
  margin-left: 35%;
  height: 2px;
  width: 30%;
  background-color: rgb(50,59,98);
  transform: rotate(35deg);
  margin-top: 25%;
}
.botArrow{
  margin-left: 35%;
  margin-top: 14%;
  height: 2px;
  width: 30%;
  background-color: rgb(50,59,98);
  transform: rotate(-35deg);
}
/* SPECIAL SALES SECTION */
.specialSales{
  position: relative;
  padding-top: 0.1px;
  width: 100%;
  height: 13.363vw;
  background-color: rgb(123,141,178);
}
.advertBox{
  overflow: hidden;
  position: relative;
  margin-top: 2.227vw;
  margin-left: 50%;
  left: -26.155vw;
  width: 52.338vw;
  height: 7.201vw;
  border:0.742vw solid rgb(197,197,200);
  background-color: rgb(102,102,141);
}
.gradientYellow{
  position: absolute;
  width: 50vw;
  height: 50vw;
  transform: rotate(45deg);
  top: -21.5vw;
  left: -21.5vw;
  background: linear-gradient(45deg, rgba(197,164,95,1) 0%, rgba(197,164,95,1) 48%, rgba(221,219,135,1) 100%);
}
.pinkBag{
  position: absolute;
  left: 1%;
  top: 2.5%;
  width: 11.428%;
  height: 95%;
  background-image: url('../img/png/pink-bags.png');
}
.advertBox p{
  margin-left: 15%;
  font-size: 2.1vw;
  position: relative;
  font-family: 'WorkSans-Bold';
  color: white;
}
.advertButton{
  font-family: 'WorkSans-Regular';
  position: absolute;
  top: 27.5%;
  right: 2.142%;
  width: 22.14%;
  height: 40%;
  border-radius: 1.48vw;
  color: white;
  font-size: 1.63vw;
  background-color: rgba(221,219,135,1);
}
/* NEW ARIVALS */
.newArrivals{
  padding-top: 0.1px;
  position: relative;
  width: 100%;
  height: 39.86vw;
}
.newArrivals .greatBuysButton{
  background-color: rgb(247,200,197);
  border-color: rgb(247,200,197);
}
.newArrivals h2{
  margin: 0;
  margin-left: 23.23vw;
  margin-top: 5vw;
}
.carWraper{
  position: absolute;
  top: 11.358vw;
  left: 0px;
  width: 100%;
  height: 22.5vw;
  background-color: rgb(247,200,197);
}
.leftImage{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 23.23vw;
  height: 30.734vw;
  background-image: url('../img/png/lipstick.png');
}
.blurBox{
  z-index: 2;
  box-shadow: inset 0px 0px 1.2vw 0.9vw rgb(247,200,197);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.carContainer{
  position: absolute;
  height: 100%;
  width: 65.3vw;
  right: 6vw;
  top: 0px;
  overflow: hidden;
}
#carouselOne{
  transition: 0.7s;
  display: flex;
  position: relative;
  top: 16.5%;
  height: 67.65%;
  width: 140%;
  left: -0%;
}
#carouselTwo{
  transition: 0.7s;
  display: flex;
  position: relative;
  top: 16.5%;
  height: 67.65%;
  width: 140%;
  left: -0%;
}
.carPicContainer{
  position: relative;
  height: 100%;
  width: 20%;
  text-align: center;
}
.carPicContainer p{
  font-family: 'WorkSans-Regular';
  margin: 0;
  font-size: 1.11vw;
}
.carPicContainer >div:nth-child(1){
  position: relative;
  height: 75%;
  width: 100%;
}

.firstCarPicOne{background-image: url('../img/png/car-one/carPicOne.png');}
.firstCarPicTwo{background-image: url('../img/png/car-one/carPicTwo.png');}
.firstCarPicThree{background-image: url('../img/png/car-one/carPicThree.png');}
.firstCarPicFour{background-image: url('../img/png/car-one/carPicFour.png');}
.firstCarPicFive{background-image: url('../img/png/car-one/carPicFive.png');}
.firstCarPicSix{background-image: url('../img/png/car-one/carPicOne.png');}
.firstCarPicSeven{background-image: url('../img/png/car-one/carPicTwo.png');}


.arrow{
  position: absolute;
  left: 2.1vw;
  top: -2vw;
  width: 10vw;
  height: 10vw;
  border: 2px solid white;
  transform: rotate(45deg);
}
.leftCarArrowBox{
  overflow: hidden;
  position: absolute;
  width: 3.2vw;
  height: 6.31vw;
  top:7.05vw;
  left: 24vw;
  z-index: 3;
}
.rightCarArrowBox{
  overflow: hidden;
  transform: rotate(180deg);
  position: absolute;
  width: 3.2vw;
  height: 6.31vw;
  top:7.05vw;
  right:3vw;
}
.leftCarArrowBox:hover ,.rightCarArrowBox:hover{
  cursor: pointer;
}

/* BEST SELLERS SECTION ,carTwo*/
.bestSellers .carWraper{
  background-color: rgb(249,216,193);
}
.bestSellers .greatBuysButton{
  background-color: rgb(249,216,193);
  border-color: rgb(249,216,193);
}
.bestSellers .leftImage{
  background-image: url('../img/png/car-two/carTwoLeftPic.png');
}

.bestSellers .blurBox{
  box-shadow: inset 0px 0px 1.2vw 0.9vw rgb(249,216,193);
}

.bestSellers .firstCarPicOne{background-image: url('../img/png/car-two/carTwoPicOne.png');}
.bestSellers .firstCarPicTwo{background-image: url('../img/png/car-two/carTwoPicTwo.png');}
.bestSellers .firstCarPicThree{background-image: url('../img/png/car-two/carTwoPicThree.png');}
.bestSellers .firstCarPicFour{background-image: url('../img/png/car-two/carTwoPicFour.png');}
.bestSellers .firstCarPicFive{background-image: url('../img/png/car-two/carTwoPicFive.png');}
.bestSellers .firstCarPicSix{background-image: url('../img/png/car-two/carTwoPicOne.png');}
.bestSellers .firstCarPicSeven{background-image: url('../img/png/car-two/carTwoPicTwo.png');}

/* trending section */
.trendingLooksSection{
  width: 100%;
  height: 36.74vw;
}
.trendingLooksSection h2{
  margin-top: -1vw;
}

.trendingLooksSection .carWraper{
  top: 5.567vw;
  background-color: rgb(202,164,207);
}

.trendingLooksSection .greatBuysButton{
  background-color: rgb(202,164,207);
  border-color: rgb(202,164,207);
}
.trendingLooksSection .greatBuysButton p{
  color: #d47959;
}

.trendingLooksSection .leftImage{
  background-image: url('../img/png/handsPng.png');
  bottom:-2.227vw;
  height: 34.15vw;
}

.trendingThreePicWraper{
  display: flex;
  position: absolute;
  right: 3.93vw;
  bottom: -2.227vw;
}

.trendingThreePicWraper div{
  width: 22.27vw;
  height: 22.27vw;
  margin-left: 1.85vw;
}
.trendingPicOne{background-image: url('../img/trendingPicOne.jpg');}
.trendingPicTwo{background-image: url('../img/trendingPicTwo.jpg');}
.trendingPicThree{background-image: url('../img/trendingPicThree.jpg');}

/* INSTAGRAM SECTION */
.gridBoxSpecial{
  width: 74.12%;
  height: 44.477vw;
  margin-left: 13%;
  margin-top: 4.08vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 0.222vw;
  padding: 0.5vw;
  padding-bottom: 0;
}
.gridBoxSpecial div{
  position: relative;
  overflow: hidden;
}
.gridBoxSpecial div:hover{
  cursor: pointer;
}

.gridBoxSpecial div:nth-child(1) h2{
  font-family: 'Oranienbaum', serif;
  position: relative;
  z-index: 1;
  writing-mode:tb-rl;
  color: white;
  font-size: 6vw;
  margin: 0;
  margin-top: 1vw;
  margin-left: 3vw;
}
.gridBoxSpecial div:nth-child(1){
  background-color: rgb(229,224,102);
  grid-row: 1/3;
  grid-column: 1/2;
}
.gridBoxSpecial div:nth-child(2){
  grid-row: 1/4;
  grid-column: 2/3;
  background-image: url('../img/instagram-grid/bigPicGrid.jpg');
}
.gridBoxSpecial div:nth-child(3){
  grid-row: 1/2;
  grid-column: 3/4;
  background-image: url('../img/instagram-grid/topRight.jpg');
}
.gridBoxSpecial div:nth-child(4){
  grid-row: 2/3;
  grid-column: 3/4;
  background-image: url('../img/instagram-grid/rightMid.jpg');
}
.gridBoxSpecial div:nth-child(5){
  grid-row: 3/4;
  grid-column: 3/4;
  background-image: url('../img/instagram-grid/rightBot.jpg');
}
.gridBoxSpecial div:nth-child(6){
  grid-row: 3/4;
  grid-column: 1/2;
  background-image: url('../img/instagram-grid/parfume.jpg');
}

/*  SECTION NEWS AND EVENTS */
.newsAndEventsSection{
  position: relative;
  /* border: 1px solid green; */
}
.newsAndEventsSection a{
  color: black;
  font-size: 1.336vw;
  color: rgb(85,85,85);
}
.pinkBox{
  position: relative;
  margin-top: 6.31vw;
  padding-top: 0.1px;
  background-color: rgb(248,243,239);
  width: 100%;
  height: 74.23vw;
}
.newsAndEventsSection h2{
  margin: 0;
  margin-top: 3.34vw;
  text-align: center;
}

.carThreeContainer{
  position: absolute;
  width: 91vw;
  height: 57.5vw;
  bottom: 0px;
  margin-left: 50%;
  left:-45.5vw;
    overflow: hidden;
}

.carouselThree{
  transition: 0.7s;
  display: flex;
  position: absolute;
  width: 150%;
  height: 100%;
  left:0%;
}
.carouselThree>div{
  width: 32%;
  margin-right: 0.666%;
  margin-left: 0.666%;
}
.carDivOne,.carDivTwo,.carDivThree{
  width: 100%;
  height:51.28%;
}
.carDivOne{background-image: url('../img/car-three/picOne.jpg');}
.carDivTwo{background-image: url('../img/car-three/picTwo.jpg');}
.carDivThree{background-image: url('../img/car-three/picThree.jpg');}

.yellowSquareContainer{
  margin-top: 2.59vw;
  display: flex;
}
.yellowSquareContainer p{
  margin: 0;
}
.YellowSquare{
  margin: 4px;
  text-align: center;
  width: 4.45vw;
  height: 4.45vw;
  border: 1px solid rgb(239,234,171);
  outline: 4px solid rgb(229,225,100);
  margin-right: 1vw;
}
.YellowSquare p{
  margin: 0;
  font-size: 1.336vw;
}
.YellowSquare b:nth-child(1) p{
  margin-top: 0.6vw;
  margin-bottom: -0.3vw;
}
.loremIpsumText{
  margin-top: 2.227vw;
}
.loremIpsumText p{
  font-size: 1.336vw;
  margin: 0;
  line-height: 1.6vw;
  margin-bottom: 2.5vw;
}



.carThreeArrowContainer{
  position: relative;
  width: 6.68vw;
  height: 2.96vw;
  margin-left: 50%;
  margin-top: 0.37vw;
  left: -3.34vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 5.716vw;
}

.carThreeArrowContainer>div{
  background-image: url('../img/carThreeArrow.jpg');
  width: 45%;
  height: 100%;
}
.carThreeArrowContainer>div:hover{
  cursor: pointer;
}
#carThreeRightArrow{
  transform: rotate(180deg);
}
/* BODY CREAM SECTION */
.bodyCream{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 59.39vw;
  margin-bottom: 5.2vw;
  background: radial-gradient(ellipse at center, rgba(247,237,195,1) 0%, rgba(255,221,135,1) 100%);
}
.narrowDivBG{
  width: 120vw;
  position: absolute;
  height: 20vw;
  bottom: -5vw;
  left: -20vw;
  background-color: rgb(223,154,135);
  border-top: 0.37vw solid white;
  transform: rotate(7deg);
}

.bodyCreamTextBox{
  margin-left: 15.6vw;
}
.bodyCreamTextBox h2{
  color: white;
  font-size: 10vw;
  margin: 0;
  margin-top: 3vw;
  text-shadow: 0px 0.5vw 2px rgba(0,0,0,0.3);
  transform: scaleY(0.7);
}
.bodyCreamTextBox p{
  color: rgb(234,183,109);
  font-size: 2vw;
  margin: 0;
  margin-left: 1.11vw;
  margin-top: -2.5vw;
}

.priceOff{
  position: absolute;
  width: 15.59vw;
  height: 15.59vw;
  border-radius: 50%;
  left: -7.8vw;
  top: 13vw;
  margin-left: 61%;
  text-align: center;
  background-color: rgb(241,189,143);
}
.priceOff p{
  margin: 0;
  font-size: 5vw;
  color: black;
}
.priceOff p:nth-child(1){
  margin-top: 1vw;
}
.priceOff p:nth-child(2){
  margin-top: -1vw;
}
.BBcream{
  position: absolute;
  width: 20vw;
  height: 35vw;
  margin-left: 50%;
  left: -11.4vw;
  background-image: url('../img/png/BBcream.png');
  top: 11.5vw;
}

.regularPriceTextBox{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.regularPriceTextBox a{
  display:block;
  color: rgb(101,81,75);
  font-size: 1.3vw;
  margin-top: 2.969vw;
  margin-bottom: 1.9vw;
}
.regularPriceTextBox p{
  color: white;
  margin: 0;
  font-size: 1.3vw;
}
.regularPriceTextBox span{
  color: rgb(243,238,163);
}
/* NEED HELP? SECTION  */
.needHelpSection{
  position: relative;
  height: 27.83vw;
  border-top: 0.37vw solid rgb(243,230,228);
  background-color: rgb(245,236,235);
}
.needHelpSection .stickySocialMedia{
  position: absolute;
  top: -0.37vw;
  right: 2.86vw;
}

nav{
  margin-top: 1.48vw;
  width: 57vw;
  display: flex;
  justify-content: space-between;
}
nav h4{
  font-family: 'WorkSans-Regular';
  color: rgb(223,154,135);
  font-size: 2.22vw;
  margin: 0;
  margin-bottom: 1vw;
}
nav p{
  font-size: 1.18vw;
  margin: 0;
}
nav a{
  color: rgb(85,85,85);
  font-size: 1.3vw;
}
nav div:nth-child(1){
  position: relative;
  left: 3.93vw;
}
nav div:nth-child(2){
  position: relative;
  right: 3.6vw;
}
/* FOOTER */
footer{
  position: relative;
  width: 100%;
  height: 11.65vw;
  background-color: rgb(62,32,76);
}

footer .nailsPng{
  position: relative;
  width: 15.367vw;
  height: 4.825vw;
  margin-left: 50%;
  top:2.227vw;
  left:-7.68vw;
}

footer p{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: rgb(172,172,172,0.5);
  margin-bottom: 0px;
  font-size: 1.1vw;
}

footer span{
  position: relative;
  top:0.25vw;
  font-size: 2vw;
}
